/*
CSS styles for home page of website

Author: Nicholas E. Johnson
Created: 11 September 2025
*/


/* Index header */
.site-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  position: relative;
}

/* Nav links inline on desktop */
.nav-links {
  display: flex;
  gap: 1rem;
  border: none;
  cursor: pointer;
}

.nav-toggle {
  display: none; /* hidden on desktop */
  background: none;
  border: 1.5px solid var(--border);
  font-size: 1.5rem;
  cursor: pointer;
}

/* Mobile behavior */
@media (max-width: 768px) {
	
  .site-header {
    flex-direction: row;
	justify-content: space-between;
    align-items: center;
  }
  
  /* Show hamburger button */
  .nav-toggle {
    display: block;
    align-self: flex-end;
	color:var(--text);
  }

  /* Hide nav links initially */
  .nav-links {
    display: none;
    flex-direction: column;
    background: var(--modal-bg);
    position: absolute;
    top: 100%;
    right: 0;
    width: 150px;
    padding: 0.5rem 0;
    z-index: 1000;
	border-radius:var(--radius);
	box-shadow:0 4px 12px rgba(0,0,0,.08);
  }

  .nav-links.show {
    display: flex;
  }

  .nav-links a, .nav-links .toggle-theme {
	all:unset;
    padding: 0.5rem 1rem;
	
	background:var(--modal-bg);
	font-size:14px;
	color:var(--muted);
	justify-content:left;
	
	/* Force remove border and background */
	border: none !important;  
  }  
 
	.nav-links a:hover, .nav-links .toggle-theme:hover {
		background:var(--glass);
		color:var(--accent)
	}	
  
}

/* Page Grid */
.grid {
	display:grid;
	grid-template-columns:1fr 360px;
	gap:20px
}
@media (max-width:768px) {
	.grid {
		grid-template-columns:1fr;
	}
	.sidebar {
		grid-row: 1;
    }
}


/* Keyword Tags*/
.tags {
	display:flex;
	gap:8px;
	flex-wrap:wrap
}
.tag {
	background:rgba(2,132,199,0.08);
	padding:6px 8px;
	border-radius:999px;
	font-size:13px;
	color:var(--accent)
}

/* ///////////////////////////////////////////////////////// */
/* //////////// Sidebar on home page formatting //////////// */
/* ///////////////////////////////////////////////////////// */

/* Contact info on sidebar */
.sidebar .contact {
	display:flex;
	flex-direction:row;
	gap:20px
}

.profile-pic-container {
  display: flex;
  justify-content: center;  /* center image above card */
  margin-bottom: 16px;
}

.profile-pic {
  width: 140px;               /* adjust size as needed */
  height: 140px;
  border-radius: 50%;         /* circular image */
  object-fit: cover;          /* crop nicely */
  object-position: 35% 50%;  /* center the subject */
  border: 3px solid var(--accent);
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.linkedin-logo {
	width: 38px;       /* size of logo */
	height: 32px;
	vertical-align: middle;
	transition: transform 0.2s, opacity 0.2s;
}


